JsSIP a bit spammy with provisional responses

The `InviteServerTransactionPrototype` in `Transactions.js` run a timer named `reliableProvisionalTimer` when a provisional response (e.g. 180 Ringing) is sent.  This looks to me like it was intended to be used with PRACK, but was only partially implemented.  The result is that the 180 response gets retransmitted many times until the callee answers (exponential backoff, with first retransmit after 1 second), and the caller has no way of quenching the retransmissions.

The provisional response should be retransmitted while ringing to prevent the invite transaction from timing out, just not so quickly.  [RFC3261 section 13.3.1.1](http://tools.ietf.org/html/rfc3261#section-13.3.1.1) suggests once a minute.

See my commit here: https://github.com/crocodilertc/JsSIP/commit/8ad24f57519c641e65cf153ff13cf1b09624f038
As usual, let me know if/when you'd like a pull request prepared.
