error parsing NOTIFY body

JsSIP does not fire REFER callback events.
I think due to these errors:

**JsSIP:Transport received text message:
NOTIFY sip:rsqdc1nk@eg4n684i719q.invalid;transport=ws;ob SIP/2.0
Via: SIP/2.0/WSS xxx.xxx.xxx.xxx:4443;branch=z9hG4bKea6b.d5986bb224e380399bd5d8caf290c252.0
Via: SIP/2.0/UDP yyy.yyy.yyy.yyy:5160;received=yyy.yyy.yyy.yyy;rport=5160;branch=z9hG4bKPj91196102-cc0f-4a89-ac44-853e52f10103
From: <sip:1009@xxx.xxx.xxx.xxx>;tag=420cb25f-b4dd-4391-a0ea-d83413c69323
To: <sip:1008@xxx.xxx.xxx.xxx>;tag=0u0gcnfl8s
Contact: <sip:yyy.yyy.yyy.yyy:5160>
Call-ID: il019su1a6adc9ksdb3r
CSeq: 7254 NOTIFY
Event: refer
Subscription-State: active;expires=595
Allow-Events: presence, dialog, message-summary, refer
Max-Forwards: 69
User-Agent: FPBX-13.0.191.11(13.18.3)
Content-Type: message/sipfrag;version=2.0
Content-Length:    20
SIP/2.0 100 Trying**


**JsSIP:RTCSession:ReferSubscriber receiveNotify() | error parsing NOTIFY body: "SIP/2.0 100 Trying" +1m**


**JsSIP:Transport received text message:
NOTIFY sip:rsqdc1nk@eg4n684i719q.invalid;transport=ws;ob SIP/2.0
Via: SIP/2.0/WSS xxx.xxx.xxx.xxx:4443;branch=z9hG4bKfa6b.16d89c88e47175167bc1cefdf6faf4a1.0
Via: SIP/2.0/UDP yyy.yyy.yyy.yyy:5160;received=yyy.yyy.yyy.yyy;rport=5160;branch=z9hG4bKPj16a4253d-65a2-463f-a74b-7add01ae07b1
From: <sip:1009@xxx.xxx.xxx.xxx>;tag=420cb25f-b4dd-4391-a0ea-d83413c69323
To: <sip:1008@xxx.xxx.xxx.xxx>;tag=0u0gcnfl8s
Contact: <sip:yyy.yyy.yyy.yyy:5160>
Call-ID: il019su1a6adc9ksdb3r
CSeq: 7255 NOTIFY
Event: refer
Subscription-State: active;expires=595
Allow-Events: presence, dialog, message-summary, refer
Max-Forwards: 69
User-Agent: FPBX-13.0.191.11(13.18.3)
Content-Type: message/sipfrag;version=2.0
Content-Length:    30
SIP/2.0 183 Session Progress**

**JsSIP:RTCSession:ReferSubscriber receiveNotify() | error parsing NOTIFY body: "SIP/2.0 183 Session Progress" +4m**


ecc....

Well, what did you expect? There is `Content-Length: 30` but there is no body. 
Please, report to your PBX vendor.

Why you tell that the body is empty?
The body is of the correct length.

**Content-Length: 30
\n
SIP/2.0 183 Session Progress
\n**



There is no blank line between headers and body. May be a copy&paste error? 

Yes, sorry. It was a copy and paste error.

This is the screenshoot:

<img width="801" alt="schermata 2018-01-15 alle 11 35 57" src="https://user-images.githubusercontent.com/1280258/34938412-8c6c60f8-f9e8-11e7-87bd-4986bc9f1453.png">

and this is the copy and paste:

JsSIP:Transport received text message:

NOTIFY sip:fkpsp26i@9si9qpoums3t.invalid;transport=ws;ob SIP/2.0
Via: SIP/2.0/WSS xxx.xxx.xxx.xxx:4443;branch=z9hG4bKd796.989b775c3f5f7b27136c6acfb8d845cc.0
Via: SIP/2.0/UDP yyy.yyy.yyy.yyy:5160;received=yyy.yyy.yyy.yyy;rport=5160;branch=z9hG4bKPjfce12fff-a20d-4f27-97de-89d552342f84
From: <sip:1009@xxx.xxx.xxx.xxx>;tag=b9924354-7fad-45c5-a902-07a39b513fb4
To: <sip:1007@xxx.xxx.xxx.xxx>;tag=5be4anso7p
Contact: <sip:yyy.yyy.yyy.yyy:5160>
Call-ID: 8fs67vvf5749r0orl5h1
CSeq: 23106 NOTIFY
Event: refer
Subscription-State: terminated;reason=noresource
Allow-Events: presence, dialog, message-summary, refer
Max-Forwards: 69
User-Agent: FPBX-13.0.191.11(13.18.3)
Content-Type: message/sipfrag;version=2.0
Content-Length:    16

SIP/2.0 200 OK

 +2s

Ok, we'll do a workaround for it, but first please check the corresponding RFC. I'm pretty sure that there MUST NOT be a \r\n at the end of the body string.

Ok , perfect.

If you read the RFC3515 section 2.3, or other sections, the response body include 2 \r\n one before and one after the message body.



May you please point to the exact section in which such a \r\n is shown?

@jmillan it seems to me that [this](https://github.com/versatica/JsSIP/blob/master/lib/RTCSession/ReferSubscriber.js#L93) is wrong:

```js
const status_line = Grammar.parse(request.body, 'Status_Line');
```

Our `Status_Line` parser assumes that the leading `\r\n` has been stripped but that's not true for the NOTIFY body during a REFER transaction.


[RFC3513 Section 4.1](https://tools.ietf.org/html/rfc3515#section-4.1)

If you see message F9 (copied below), the message length is 20, 1 empty line before, 18 char in message line, 1 empty line after

Content:

Message Nine (F9)

NOTIFY sip:a@atlanta.example.com SIP/2.0
Via: SIP/2.0/UDP agentb.atlanta.example.com;branch=z9hG4bK9320394238995
To: <sip:a@atlanta.example.com>;tag=193402342
From: <sip:b@atlanta.example.com>;tag=4992881234
Call-ID: 898234234@agenta.atlanta.example.com
CSeq: 1993404 NOTIFY
Max-Forwards: 70
Event: refer;id=93809824
Subscription-State: active;expires=(depends on Refer-To URI)
Contact: sip:b@atlanta.example.com
Content-Type: message/sipfrag;version=2.0
Content-Length: 20

SIP/2.0 100 Trying

Message Ten (F10)

SIP/2.0 200 OK
Via: SIP/2.0/UDP agentb.atlanta.example.com;branch=z9hG4bK9320394238995
To: <sip:a@atlanta.example.com>;tag=193402342
From: <sip:b@atlanta.example.com>;tag=4992881234
Call-ID: 898234234@agenta.atlanta.example.com

Yes, fixing it.

Thank you!

Fixed in 3.2.2. Please, check it and confirm us.

Yes, messages are now correctly interpreted.

Great