Grammar for TURN credentials is too strict

TURN normally uses STUN's long-term credential mechanism for authentication as per RFC5766 section 4.

STUN's long-term credential mechanism assumes that both username and password are processed using SASLprep (RFC4013) at some stage; see RFC5389 sections 15.3 and 15.4. Otherwise, RFC5389 doesn't appear to place any restrictions on credentials, except that the username post-SASLprep, post-UTF8 encoding must not be longer than 513 bytes.

On a side note, as laid out in RFC5389 section 15.4, the STUN/TURN server should assume that the username has already been processed by SASLprep but the password hasn't.  It's not clear to me to what extent WebRTC implementions are supposed to apply SASLprep to the username before sending it to the TURN server; in other words, whether the username as passed to RTCPeerConnection has to be valid SASLprep input or valid SASLprep output.

At any rate, SASLprep is basically only concerned with "extraordinary" characters such as non-ASCII space characters, control characters, and surrogate pairs. There is no indication that TURN usernames or passwords would have to conform to the relatively strict rules laid out in `Grammar.pegjs`. At the very least, usernames and passwords comprised of ASCII7 characters >= ASCII 32 should be accepted as valid by JsSIP.

This is not a theoretical problem by the way: I've applied for a test account  `numb.viagenie.ca` and they use email addresses for user names, and let the user choose their password (I happened to pick one containing a parenthesis.) JsSIP currently won't accept these credentials.
