Callee must not send BYE before receiving ACK

If RTCSession.terminate() is called when in state STATUS_WAITING_FOR_ACK, JsSIP sends a BYE immediately, then fires the "ended" event.

RFC 3261 section 15 (Terminating a session), paragraph 2 starts as follows:

> However, the callee's UA MUST NOT send a BYE on a confirmed dialog
> until it has received an ACK for its 2xx response or until the server
> transaction times out.
