JsSIP stack enforces its own minimum expires on response to register.

JsSIP has a param register_min_expires that is set to 120.  If a REGISTER has a 200OK with the expires param, its bound to honor that expires time.  It cannot decide to do a higher value or the registration will be invalid during the delta between the 2.

from RFC 3261 section 10.3 Processing REGISTER Requests
1. The registrar now processes each contact address in the Contact
        header field in turn.  For each address, it determines the
        expiration interval as follows:
   
   ```
    -  If the field value has an "expires" parameter, that value
       MUST be taken as the requested expiration.
   
    -  If there is no such parameter, but the request has an
       Expires header field, that value MUST be taken as the
       requested expiration.
   
    -  If there is neither, a locally-configured default value MUST
       be taken as the requested expiration.
   ```
