JsSIP should check if INVITE is request is acceptable before giving 180 response

JsSIP should check if INVITE is request is acceptable before giving 180 response and starting to ring.
If request is not acceptable, 488 response should be given as the only response.


JsSIP does not know whether the SDP offer in the received INVITE is valid or not until the user `answers` the session, so there is no way to avoid sending a 180 first. Anyway according to RFCs this should not be  a problem.

Iñaki Baz Castillo writes:

> JsSIP does not know whether the SDP offer in the received INVITE is
> valid or not until the user `answers` the session, so there is no way
> to avoid sending a 180 first. Anyway according to RFCs this should not
> be  a problem.

It is pity if user is bothered with ringing phone and the call is not
connected when he/she answers.  Is this a fundamental problem with
WebRTC?




> JsSIP does not know whether the SDP offer in the received INVITE is valid or not until the user `answers` the session, so there is no way to avoid sending a 180 first. Anyway according to RFCs this should not be a problem.

My interpretation of  RFC 3261 Section 8.2 second paragraph is that the current JsSIP (or WebRTC) behavior breaks the standard:

> Note that request processing is atomic.  If a request is accepted, all state changes associated with it MUST be performed.  If it is rejected, all state changes MUST NOT be performed.



I don't agree that this breaks the standard. You can receive an INVITE, send 180, then reject with 480 or whatever.

BTW we cannot "fix" anything. We cannot process the received INVITE's SDP until the user calls `session.answer()`.

Honestly, there is absolutely no way to prevent 180 if much later the user accepts the INVITE and it fails due to SDP problems.