CSeq is allowed to decrease for re-INVITE requests

JsSIP doesn't support re-INVITEs yet, but I was surprised by the unexplained exception in the CSeq checks for INVITE requests (see `checkInDialogRequest` in `Dialogs.js`).

The relevant text in RFC 3261 section 12.2.2 is as follows:

> If the remote sequence number was not empty, but the sequence number
>    of the request is lower than the remote sequence number, the request
>    is out of order and MUST be rejected with a 500 (Server Internal
>    Error) response.

I couldn't find anything that suggested that this isn't applicable to re-INVITEs.
