Dialog does a target refresh even if the request is subsequently rejected

RFC 3261 section 12.2.2:

> Requests sent within a dialog, as any other requests, are atomic.  If
>    a particular request is accepted by the UAS, all the state changes
>    associated with it are performed.  If the request is rejected, none
>    of the state changes are performed.

In `Dialogs.checkInDialogRequest()`, provided that the in-dialog checks pass, an INVITE or NOTIFY request will update the remote target.  This happens regardless of whether the associated `RTCSession` subsequently rejects the request.

Currently `RTCSession` does not reject these particular requests - it just ignores them.  However, this looks like something that is likely to get missed later.

In the future, `RTCSession` may need to do some asynchronous processing of reINVITE requests, so I think the target refresh needs to be tied to some event handler fired when the response is sent.  On the `devel` branch the request transaction is now an `EventEmitter` - perhaps the target refresh could be triggered when the transaction changes state, and the response is confirmed to be a 2xx.
